<ion-view view-title="Places" hide-nav-bar="true">
  <ion-content class="padding" ng-init="init()">
    <h2>Bem vindo, você está em {{currentCity}}</h2>

    <div class="tile-group no-margin no-padding" style="width: 100%">
      <div class="tile tile-square bg-lightBlue fg-white" data-role="tile">
        <div class="tile-content iconic">
          <span class="icon mif-windows"></span>
        </div>
      </div>
      <div class="tile bg-orange fg-white" data-role="tile">
        <div class="tile-content iconic">
          <span class="icon mif-music"></span>
        </div>
      </div>
      <div class="tile tile-small bg-teal fg-white" data-role="tile">
        <div class="tile-content iconic">
          <span class="icon mif-facebook"></span>
        </div>
      </div>
      <div class="tile tile-small bg-green fg-white" data-role="tile">
        <div class="tile-content iconic">
          <span class="icon mif-twitter"></span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
