// Override Ionic variables

// Ionic Colors
/*$light:                           #875181 !default; // purple*/
$stable:                          #f8f8f8 !default;
$positive:                        #4D7197 !default;
$calm:                            #8CADDC !default;
$balanced:                        #62BE76 !default;
$energized:                       #E0CA3C !default;
$assertive:                       #B14437 !default;
$royal:                           #8B7C92 !default;
$dark:                            #444 !default;

$bar-height:                      60px !default;

$button-size:                     110px;

$font-family-base:                "Montserrat"
