.metro-bg {
  background-color: $dark;
}

.search-text {
  height: 35px !important;
  font-size: 15px !important;
}

.bar-search{
  padding-top: 20px;
  padding-bottom: 20px !important;
  //height: 60px !important;
}

.search .icon.placeholder-icon {
  font-size: 20px;
}

.button-metro {
  border-radius: 1px !important;
  min-height: $button-size;
  max-height: $button-size;
  width: 100%;
}

.button-metro-half {
  border-radius: 1px !important;
  min-height: 50;
  width: 100%;
}

.half-padding {
  padding: 0 1px 1px 0 !important;
}

.row {
  padding: 0px 2px 0px 2px;
}

.col {
  padding: 6px 3px 6px 3px;
}

.button.button-light.activated, .button.button-light.active {
  background: darken($light, 4%) !important;
}

.button {
  padding: 0;
}

.button-text-center {
  height: $button-size;
  line-height: $button-size;
  /*font-weight: 900;*/
  background-repeat: no-repeat;
  display:block;
  box-shadow: 0 3px 10px #555;
  border: 0;
  font-size: 24px;
  background: rgba(0,0,0,.3);
}
