.metro-bg {
  background-color: $dark;
}

.search-text {
  height: 35px !important;
  font-size: 15px !important;
}

.bar-search{
  padding-top: 20px;
  padding-bottom: 20px !important;
  height: 60px !important;
}

.search .icon.placeholder-icon {
  font-size: 20px;
}

.button-metro {
  border-radius: 1px !important;
  min-height: 120px;
  width: 100%;
}
